
*.o

*.mk

*.d

*.exe
/Homework 2/Tic Tac Toe/build/
/Homework 2/Tic Tac Toe/dist/
/Homework 2/Homework 2/dist/
/Homework 2/Homework 2/build/
/Queue&Stack/dist/
/Queue&Stack/build/
/Class Structure/build/
/Class Structure/dist/
/Homework 3/build/
/Homework 3/dist/
/Multiple Object Example/build/
/Multiple Object Example/dist/
